.App {
  text-align: center;
  background-color: #282c34;
}
.flex{
  display: flex;
}
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex__between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
img {
  width: 90%;
  height: 200px;
}


